html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*
 * Styles for game board
 */

.game-board {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	min-height: 330px;
	padding: 10px;
	width: 330px;
}

.game-card {
	height: 75px;
	width: 75px;
	display: flex;
	justify-content: center;
	background-color: black;
	cursor: pointer;
}